<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/js/nav.js"></script>
    <title>Elearn<%= title %></title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div>
          <nav>
            <ul class="admin-header">
              <li><a href="/">Home</a></li>
              <li><a href="/admin">Registeration Request</a></li>
              <li><a href="/admin/courses-requests">Allow Courses</a></li>
              <li><a href="/admin/users">Review Users</a></li>
              <li><a href="/admin/courses">Review Courses</a></li>
            </ul>
          </nav>
          <div class="toggle-nav" onclick="responsive()">Menu</div>
        </div>
      </div>
    </header>
  </body>
</html>
