<div class="search">
  <div class="container">
    <form method="get" class="form">
      <input
        type="text"
        name="search"
        value="<%= search %>"
        placeholder="Search"
      />
    </form>
  </div>
</div>
