<%- include('../partials/header.ejs') %>

<div class="ncontainer">
  <div class="card single">
    <h3>Edit Password</h3>

    <form method="post" class="form">
      <!-- pld password -->
      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" name="oldPassword" id="oldPassword" required />
      </div>
      <!-- new password -->
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" id="newPassword" required />
      </div>
      <% if (error) { %>
      <p class="form-error"><%= error %></p>
      <% } %>
      <input type="submit" value="Change Password" class="btn" />
    </form>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
