<%- include('../partials/header.ejs') %>

<div class="ncontainer">
  <div class="card single">
    <h3>Login</h3>

    <form method="post" class="form">
      <!-- email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          value="<%= email %>"
          required
        />
      </div>
      <!-- password -->
      <div class="form-group">
        <label for="name">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <% if (error) { %>
      <p class="form-error"><%= error %></p>
      <% } %>
      <input type="submit" value="Log In" class="btn" />
    </form>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
